h1,
h5 {
  font-family: "Montserrat", Arial, sans-serif;
}

a {
  font-family: "Open Sans", "Times New Roman", serif;
}

/* Default height for small devices */
#intro-example {
  height: 600px;
  background-image: url("../../assets/house1.avif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: inset 0 0 0 2000px rgba(28, 47, 58, 0.7);
}

#heroContent {
  margin-top: 50px;
}

.text-white {
  margin: 15px;
}
