h2 {
  font-family: "Montserrat", Arial, sans-serif;
  margin-bottom: 15px;
}

p,
li,
label {
  font-family: "Open Sans", "Times New Roman", serif;
}

#info_list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#info_list li i {
  color: #14232c;
}

#email-form fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(28, 47, 58, 0.3);
  padding: 20px 30px;
}

#contact_content {
  margin: 70px 0px 80px 0px;
  padding-left: 50px;
}

#contact_content h2 {
  color: #14232c;
}

#form_content {
  margin: 60px 0px 125px 0px;
}

#copy_label {
  margin: 0px;
  padding: 0px;
}

.moving_text {
  display: inline-block;
  position: relative;
  font-size: 2rem;
  font-weight: 600;
}

.word {
  position: absolute;
  left: 140px;
  bottom: 16px;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.8s ease-in-out;
}

#info_list li {
  color: #14232c;
  margin-bottom: 3px;
}

.letter {
  display: inline-block;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Animate letters out smoothly */
.letter.out {
  opacity: 0;
  transform: translateY(-0.8em);
}

/* Hidden state before entering */
.letter.behind {
  opacity: 0;
  transform: translateY(0.8em);
}

/* Animate letters in smoothly */
.letter.in {
  opacity: 1;
  transform: translateY(0);
}

/* Optional: add a little delay to the whole word fade */
.word.show {
  opacity: 1;
  transition: opacity 0.8s ease-in-out;
}

.wisteria {
  color: #c0392b;
}
.belize {
  color: rgb(41, 8, 125);
}
.pomegranate {
  color: #27ae60;
}
.green {
  color: #1c2f3a;
}
.midnight {
  color: #b28a00;
}

@media (max-width: 770px) {
  #contact_content {
    margin-bottom: 0px;
  }
}

@media (max-width: 380px) {
  .moving_text {
    display: none;
  }
  #contact_content {
    margin-top: 35px;
  }

  #contact_content h2 {
    font-weight: 700;
  }
}
