h1,
h2,
button {
  font-family: "Montserrat", Arial, sans-serif;
}

h2 {
  font-weight: 600;
}

p {
  font-family: "Open Sans", "Times New Roman", serif;
}

.card-text {
  font-weight: 600;
}

.card.mb-4.box-shadow {
  flex-direction: row;
  align-items: center;
}

.service_section img {
  height: 275px;
  width: 100%;
  display: block;
}

.card-body {
  height: 275px;
  width: 100%;
}

.card-body h2 {
  margin-top: 15px;
  margin-bottom: 25px;
}

.card-body p {
  margin-bottom: 25px;
}

.card_text {
  margin-left: 20px;
}

.service_section {
  transition: transform 0.25s, background 0.25s;
}
.service_section:hover {
  transform: scale(1.05);
  background: #8dc63f;
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 768px) {
  .card.mb-4.box-shadow {
    flex-direction: column;
  }
}
