.card.mb-4.box-shadow
{
    flex-direction: row;
    align-items: center;
}

.service_section img
{
    height: 250px; 
    width: 100%; 
    display: block;
}

.card-body
{
    height: 250px; 
    width: 100%;   
}

.card-body h2
{
    margin-top: 15px;
    margin-bottom: 25px;
}

.card-body p
{
    margin-bottom: 25px;
}

.card_text
{
    margin-left: 20px;
}

@media screen and (max-width: 768px) { .card.mb-4.box-shadow {flex-direction: column;} }

