p {
  font-family: "Open Sans", "Times New Roman", serif;
  font-size: 17px;
}

#headshot_photo {
  height: 500px;
  width: auto;
}

#home_content {
  margin-top: 70px;
  margin-bottom: 90px;
}

#photo_content p {
  padding-left: 50px;
}

#photo_content p {
  padding-top: 50px;
}

#photo_content img {
  max-height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 766px) {
  #headshot_photo {
    height: 400px;
  }

  .col-md-4 {
    text-align: center;
    padding-bottom: 25px;
  }

  #home_content {
    margin-top: 40px;
  }
}
